* {
    font-family: Inter;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #001a41;
}

a {
    text-decoration: none;
    color: white;
}

.container-geral {
    display: flex;
}

.aba-lateral {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 210px;
    height: 100vh;
    background-color: #142847;
    color: white;
}

.aba-lateral .usuario {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-top: 15px;
}

.aba-lateral .usuario img {
    width: 55px;
    margin-left: 20px;
}

.aba-lateral .usuario h1 {
    font-size: 1.6rem;
}

.aba-lateral .voltar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    column-gap: 15px;
}

.aba-lateral .voltar img {
    width: 60px;
    margin-left: 25px;
}

.aba-lateral .voltar h1 {
    font-size: 1.6rem;
}

main {
    width: 100%;
    margin-left: 210px;
    margin-top: 1.5rem;
}

main .container-cliente {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5vw;
    gap: 3vw;
}

main .cliente {
    color: white;
    border: 2px solid;
}

