* {
    font-family: Inter;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #001a41;
}

a {
    text-decoration: none;
    color: white;
}

.container-geral {
    display: flex;
}

.aba-lateral {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 210px;
    height: 100vh;
    background-color: #142847;
    color: white;
}

.aba-lateral .usuario {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 15px;
}

.aba-lateral .usuario img {
    width: 50px;
    margin-left: 15px;
}

.aba-lateral .usuario h1 {
    font-size: 1.4rem;
}

.container-pagar {
    display: flex;
    width: 210px;
    justify-content: center;
    /* background-color: #389bdd; */
    position: fixed;
    top: 90px;
}

.container-pagar button {
    background-color: #1335ac;
    border: none;
    width: 150px;
    padding: 12px;
    border-radius: 10px;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0px;
    text-align: center;
    cursor: pointer;
}

.aba-lateral .voltar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    column-gap: 15px;
}

.aba-lateral .voltar img {
    width: 60px;
    margin-left: 25px;
}

.aba-lateral .voltar h1 {
    font-size: 1.6rem;
}

main {
    width: 100%;
    margin-left: 210px;
    margin-top: 2.5rem;
}

main .container-despesas {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5vw;
    column-gap: 3vw;
    row-gap: 2vw;
    margin-bottom: 2rem;
}

main .despesa {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    color: white;
    width: 300px;
    background-color: #1c3355;
    border-radius: 10px;
    padding: 8px;
    border: 2px #389bdd solid;
}

main .despesa  h3 {
    text-transform: uppercase;
}

main .despesa strong {
    font-size: 17px;
}

main .despesa:hover {
    scale: 1.04;
    transition: 0.4s;
    background-color: #1e4385;
}

.container-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
    z-index: 4;
    display: none;
}

.container-modal #fechar-modal {
    position: relative;
    top: 8px; 
    left: 215px;
    padding: 4px; 
    color: white;
    width: 25px;
    cursor: pointer;
}

.container-modal #fechar-modal:hover {
    filter: brightness(60%);
    transition: 0.3s;
}

.container-modal h4{
    font-size: 22px;
    margin-bottom: 8px;
}

.container-modal form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    background-color: #001a41; 
    border-radius: 10px;
    width: 480px;
    height: 350px;
    margin: 0 auto;
    margin-top: 25vh;
    color: white;
}

.container-modal form label {
    color: white;
    width: 69.5%;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 15px;
}

.container-modal form select {
    width: 70%;
    background-color: #1c3355;
    border: none;
    padding: 9px;
    border-radius: 10px;
    /* margin-bottom: 1rem; */
    font-size: 1rem;
    color: white;
    cursor: pointer;
}
.container-modal form option:hover {
    cursor: pointer;
}

main form span {
    color: red;
    font-size: 14px;
    margin-left: 3px;
    display: none;
    width: 69.5%;
    margin-bottom: -5px;
}

.btns {
    margin-top: 1.7rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 1rem;
    margin-bottom: 2rem;
}

.btns a, button {
    background-color: #1335ac;
    border: none;
    min-width: 140px;
    padding: 11px;
    border-radius: 10px;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0px;
    text-align: center;
    cursor: pointer;
}

.btns a:hover, button:hover {
    background-color: #1334acbd;
    transition: 0.3s;
}